/* NavStatus style.css */

.navbar .correct {
  animation: 2s correct;
}

.navbar .incorrect {
  animation: 2s incorrect;
}

@keyframes correct {
  0% {
    color: rgb(225, 241, 255);
  }

  50% {
    color: #7cfa82;
  }

  100% {
    color: rgb(225, 241, 255);
  }
}

@keyframes incorrect {
  0% {
    color: rgb(225, 241, 255);
  }

  50% {
    color: #ffaaaa;
  }

  100% {
    color: rgb(225, 241, 255);
  }
}
