/* Footer style.css */

.footer {
  background-color: #888;
  color: #eee;
  width: 100%;
}

.reset-link {
  text-decoration: none;
  color: #eee;
  /* margin-left: 10px; */
  /* float: left; */
  /* padding: 6px; */
  /* font-weight: 600; */
  /* font-size: 0.8rem; */
}

.reset-link:hover {
  text-decoration: none;
  color: rgb(123, 29, 29);
}

.github-link {
  text-decoration: none;
  color: #eee;
  margin-left: 10px;
  float: left;
  padding: 6px;
  font-weight: 600;
  font-size: 0.8rem;
}

.github-link:hover {
  text-decoration: none;
  color: rgb(123, 29, 29);
}

.credits {
  margin-right: 10px;
  float: right;
  padding: 6px;
  font-weight: 600;
  font-size: 0.8rem;
}

.subcredit {
  font-weight: 400;
}

@media (max-width: 576px) {
  .credits {
    font-size: 0.7rem;
  }
  .github-link {
    font-size: 0.7rem;
  }
}
